* { box-sizing: border-box; }

a { color:#268bd2; }

b { font-weight: bold; }

body {
	background: #073642;
	color: #839496;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.6;
	margin: 0;
}

h1, h2, h3 {
	margin: 0;
	line-height: 1.2;
	font-weight: normal;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 { font-size: 1.5rem; }

h3 { font-size: 1.25rem; }

header {
	background: #002b36;
	color: #93a1a1;
	font-family: monospace;
	padding: 4rem 1rem;
	text-align: center;
}

header h1 {
	color: #859900;
	font-size: 3rem;
	font-weight: bold;
}

section	{
	max-width: 980px;
	width: 100%;
	margin: auto;
	padding: 2rem 1rem;
}

footer {
	background: #002b36;
	color: #586e75;
	font-family: monospace;
	padding: 2rem 1rem;
	text-align: center;
	width: 100%;
}

section h1 { color: #b58900; }

section h2 { color: #2aa198; }

#services b { color: #93a1a1; }

#contact b { color: #d33682 }

#services, #programs { border-bottom: 1px dotted #586e75; }

.program-info {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

.program-logo {
	display: inline-block;
	height: auto;
	vertical-align: middle;
	width: 3rem;
}

.program-screenshot {
	box-shadow: 0 0 8px #002b36;
	display: inline-block;
	height: auto;
	vertical-align: top;
	width: 50%;
}

/* Media queries */
@media all and (max-width: 768px) {
	.program-info, .program-screenshot { width: 100%; }
}
