---
layout: default
title: Projects
og_desc: My personal software and academic projects.
og_image: s8a-thumbnail.png
---

<h1 class="text-center">{{ page.title }}</h1>

<section id="websites" class="py-3">
  <h2>Websites</h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-3 py-3 mb-3">
    {%- assign websites = site.websites | sort: "last-update" | reverse -%}
    {%- for website in websites -%}
    <div class="col">
      <div class="card h-100 shadow-sm">
        {%- if website.image -%}
          {% assign image_path = website.image | prepend: "/assets/img/" | append: "-hidpi.png" %}
          {% include img-local.html class="card-img-top" src=image_path widths="192, 256, 320, 384, 448, 512, 576, 640, 704, 768, 832, 896, 960, 1024, 1080" sizes="100vw, 576px:94vw, 672px:81vw, 768px:47vw, 880px:41vw, 992px:49vw, 1096px:44vw, 1200px:32vw, 1300px:30vw, 1400px:32vw" default_width="576" %}
        {%- endif -%}

        <div class="card-body">
          <h3 class="card-title fs-5">{{ website.name }}</h3>
          <p class="card-subtitle mb-2 text-muted">Last update: {{ website.last-update | date: "%b %Y" }}</p>
          <p class="card-text">{{ website.summary }}</p>
          <a href="{{ website.website-url }}" class="card-link">{{ website.go-text }}</a>
          <a href="{{ website.url }}" class="card-link">Details</a>
        </div>
      </div>
    </div>
    {%- endfor -%}
  </div>
</section>

<section id="programs" class="py-3">
  <h2>Desktop programs</h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-3 py-3 mb-3">
    {%- assign programs = site.programs | sort: "last-update" | reverse -%}
    {%- for program in programs -%}
    <div class="col">
      <div class="card h-100 shadow-sm">
        {%- if program.image -%}
          {% assign image_path = program.image | prepend: "/assets/img/" %}
          {% include img-local.html class="card-img-top" src=image_path widths="192, 256, 320, 384, 448, 512, 576, 640, 704, 768, 832, 896, 960, 1024, 1080" sizes="100vw, 576px:94vw, 672px:81vw, 768px:47vw, 880px:41vw, 992px:49vw, 1096px:44vw, 1200px:32vw, 1300px:30vw, 1400px:32vw" default_width="576" %}
        {%- endif -%}

        <div class="card-body">
          <h3 class="card-title fs-5">{{ program.name }}</h3>
          <p class="card-subtitle mb-2 text-muted">Last update: {{ program.last-update | date: "%b %Y" }}</p>
          <p class="card-text">{{ program.summary }}</p>
          <a href="{{ program.url }}" class="card-link">Details</a>
        </div>
      </div>
    </div>
    {%- endfor -%}
  </div>
</section>

<section id="documents" class="py-3">
  <h2>Documents</h2>

  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-3 py-3 mb-3">
    {%- assign documents = site.documents | sort: "date" | reverse -%}
    {%- for document in documents -%}
    <div class="col">
      <div class="card h-100 shadow-sm">
        {%- if document.image -%}
          {% assign image_path = document.image | prepend: "/assets/img/" | append: "-hidpi.png" %}
          {% include img-local.html class="card-img-top" src=image_path widths="192, 256, 320, 384, 448, 512, 576, 640, 704, 768, 832, 896, 960, 1024, 1080" sizes="100vw, 576px:94vw, 672px:81vw, 768px:47vw, 880px:41vw, 992px:49vw, 1096px:44vw, 1200px:32vw, 1300px:30vw, 1400px:32vw" default_width="576" %}
        {%- endif -%}

        <div class="card-body">
          <h3 class="card-title fs-5">{{ document.name }}</h3>
          <p class="card-subtitle mb-2 text-muted">{{ document.date | date_to_string }}</p>
          <p class="card-text">{{ document.summary }}</p>
          <a href="{{ document.url }}" class="card-link">{{ document.read-text }}</a>
        </div>
      </div>
    </div>
    {%- endfor -%}
  </div>
</section>
