---
layout: default
title: Projects
description: My personal software and academic projects.
main_class_extra: divide-y divide-gray-950/5 dark:divide-white/10
---

<div class="pb-6">
  <h1 class="text-center text-4xl font-bold mb-2">{{ page.title }}</h1>
  <nav class="flex flex-col items-center justify-center gap-x-4 gap-y-2 md:flex-row">
    <p>Jump to section:</p>
    <ul class="flex flex-wrap gap-x-4 gap-y-2">
      <li><a href="#open-source" class="underline text-blue-600 hover:text-blue-500 dark:text-blue-500 dark:hover:text-blue-400 transition-colors">Open Source</a></li>
      <li><a href="#websites" class="underline text-blue-600 hover:text-blue-500 dark:text-blue-500 dark:hover:text-blue-400 transition-colors">Websites</a></li>
      <li><a href="#programs" class="underline text-blue-600 hover:text-blue-500 dark:text-blue-500 dark:hover:text-blue-400 transition-colors">Desktop programs</a></li>
      <li><a href="#documents" class="underline text-blue-600 hover:text-blue-500 dark:text-blue-500 dark:hover:text-blue-400 transition-colors">Documents</a></li>
    </ul>
  </nav>
</div>

<section id="open-source" class="py-6">
  <h2 class="text-2xl font-bold mb-2">Open Source</h2>
  <div class="flex flex-col gap-4">
    {%- assign open_source_projects = site.open_source | sort: "last_update" | reverse -%}
    {%- for project in open_source_projects -%}
    <div class="px-4 py-3 border-l-4 border-blue-600 dark:border-blue-500 grid grid-cols-1 sm:grid-cols-3 gap-4">
      {%- if project.image -%}
        <div class="col-span-1 flex items-center">
          {%- include img-local.html class="w-full" src=project.image widths="192, 256, 320, 384, 448, 512, 576, 640, 704, 768, 832, 896, 960, 1024, 1080" sizes="100vw, 40rem:14rem, 48rem:16rem, 64rem:19rem" default_width="640" -%}
        </div>
      {%- endif -%}
      <div class="col-span-1 {% if project.image %}sm:col-span-2{% else %}sm:col-span-3{% endif -%}">
        <div class="mb-2">
          <h3 class="text-xl font-medium">{{ project.name }}</h3>
          <p class="text-sm text-gray-600 dark:text-gray-400">Last update: {{ project.last_update | date: "%b %Y" }}</p>
          <p>{{ project.summary }}</p>
        </div>
        <div class="flex flex-wrap gap-4">
          <a href="{{ project.repo_url }}" class="underline text-blue-600 hover:text-blue-500 dark:text-blue-500 dark:hover:text-blue-400 transition-colors">Repository</a>
          <a href="{{ project.url }}" class="underline text-blue-600 hover:text-blue-500 dark:text-blue-500 dark:hover:text-blue-400 transition-colors">Details</a>
        </div>
      </div>
    </div>
    {%- endfor -%}
  </div>
</section>

<section id="websites" class="py-6">
  <h2 class="text-2xl font-bold mb-2">Websites</h2>
  <div class="flex flex-col gap-4">
    {%- assign websites = site.websites | sort: "last_update" | reverse -%}
    {%- for website in websites -%}
    <div class="px-4 py-3 border-l-4 border-blue-600 dark:border-blue-500 grid grid-cols-1 sm:grid-cols-3 gap-4">
      {%- if website.image -%}
        <div class="col-span-1 flex items-center">
          {%- include img-local.html class="w-full" src=website.image widths="192, 256, 320, 384, 448, 512, 576, 640, 704, 768, 832, 896, 960, 1024, 1080" sizes="100vw, 40rem:14rem, 48rem:16rem, 64rem:19rem" default_width="640" -%}
        </div>
      {%- endif -%}
      <div class="col-span-1 {% if website.image %}sm:col-span-2{% else %}sm:col-span-3{% endif -%}">
        <div class="mb-2">
          <h3 class="text-xl font-medium">{{ website.name }}</h3>
          <p class="text-sm text-gray-600 dark:text-gray-400">Last update: {{ website.last_update | date: "%b %Y" }}</p>
          <p>{{ website.summary }}</p>
        </div>
        <div class="flex flex-wrap gap-4">
          <a href="{{ website.website_url }}" class="underline text-blue-600 hover:text-blue-500 dark:text-blue-500 dark:hover:text-blue-400 transition-colors">{{ website.go_text }}</a>
          <a href="{{ website.url }}" class="underline text-blue-600 hover:text-blue-500 dark:text-blue-500 dark:hover:text-blue-400 transition-colors">Details</a>
        </div>
      </div>
    </div>
    {%- endfor -%}
  </div>
</section>

<section id="programs" class="py-6">
  <h2 class="text-2xl font-bold mb-2">Desktop programs</h2>
  <div class="flex flex-col gap-4">
    {%- assign programs = site.programs | sort: "last_update" | reverse -%}
    {%- for program in programs -%}
    <div class="px-4 py-3 border-l-4 border-blue-600 dark:border-blue-500 grid grid-cols-1 sm:grid-cols-3 gap-4">
      {%- if program.image -%}
        <div class="col-span-1 flex items-center">
          {%- include img-local.html class="w-full" src=program.image widths="192, 256, 320, 384, 448, 512, 576, 640, 704, 768, 832, 896, 960, 1024, 1080" sizes="100vw, 40rem:14rem, 48rem:16rem, 64rem:19rem" default_width="640" -%}
        </div>
      {%- endif -%}
      <div class="col-span-1 {% if program.image %}sm:col-span-2{% else %}sm:col-span-3{% endif -%}">
        <div class="mb-2">
          <h3 class="text-xl font-medium">{{ program.name }}</h3>
          <p class="text-sm text-gray-600 dark:text-gray-400">Last update: {{ program.last_update | date: "%b %Y" }}</p>
          <p>{{ program.summary }}</p>
        </div>
        <div class="flex flex-wrap gap-4">
          <a href="{{ program.url }}" class="underline text-blue-600 hover:text-blue-500 dark:text-blue-500 dark:hover:text-blue-400 transition-colors">Details</a>
        </div>
      </div>
    </div>
    {%- endfor -%}
  </div>
</section>

<section id="documents" class="pt-6">
  <h2 class="text-2xl font-bold mb-2">Documents</h2>

  <div class="flex flex-col gap-4">
    {%- assign documents = site.documents | sort: "date" | reverse -%}
    {%- for document in documents -%}
    <div class="px-4 py-3 border-l-4 border-blue-600 dark:border-blue-500 grid grid-cols-1 sm:grid-cols-3 gap-4">
      {%- if document.image -%}
        <div class="col-span-1 flex items-center">
          {%- include img-local.html class="w-full" src=document.image widths="192, 256, 320, 384, 448, 512, 576, 640, 704, 768, 832, 896, 960, 1024, 1080" sizes="100vw, 40rem:14rem, 48rem:16rem, 64rem:19rem" default_width="640" -%}
        </div>
      {%- endif -%}
      <div class="col-span-1 {% if document.image %}sm:col-span-2{% else %}sm:col-span-3{% endif -%}">
        <div class="mb-2">
          <h3 class="text-xl font-medium">{{ document.name }}</h3>
          <p class="text-sm text-gray-600 dark:text-gray-400">{{ document.date | date_to_string }}</p>
          <p>{{ document.summary }}</p>
        </div>
        <div class="flex flex-wrap gap-4">
          {%- if document.read_url -%}
            <a href="{{ document.read_url }}" class="underline text-blue-600 hover:text-blue-500 dark:text-blue-500 dark:hover:text-blue-400 transition-colors">{{ document.read_text }}</a>
            <a href="{{ document.url }}" class="underline text-blue-600 hover:text-blue-500 dark:text-blue-500 dark:hover:text-blue-400 transition-colors">Details</a>
          {%- else -%}
            <a href="{{ document.url }}" class="underline text-blue-600 hover:text-blue-500 dark:text-blue-500 dark:hover:text-blue-400 transition-colors">{{ document.read_text }}</a>
          {%- endif -%}
        </div>
      </div>
    </div>
    {%- endfor -%}
  </div>
</section>
