<footer lang="en" class="flex flex-col items-center justify-center gap-4 border-t border-gray-950/5 dark:border-white/10 text-gray-500 dark:text-gray-400 mt-4 py-8 print:hidden">
  <nav aria-label="Footer navigation">
    <ul class="flex gap-6 text-sm">
      {%- for item in site.data.navigation -%}
        <li>
          <a href="{{- item.link -}}" class="hover:text-gray-600 dark:hover:text-white transition-colors">
            {{- item.name -}}
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </nav>
  <p class="text-xs">Samuel Ochoa · {{ "now" | date: "%Y" }}</p>
</footer>
