body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


.carousel {
  margin-bottom: 4rem;
}

.carousel-item {
  height: 32rem;
}

.hero-image {
  background-size: cover !important;
  height: 100%;
}


.store {
  text-align: center;
}

.store p {
  margin-right: .75rem;
  margin-left: .75rem;
}


.featurette-divider {
  margin: 5rem 0;
}


@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
