---
layout: default
title: Blog
og_desc: Samuel Ochoa's personal blog.
og_image: s8a-thumbnail.webp
---
<h1 class="text-center">Blog</h1>

<div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 g-3 py-3 mb-3">
  {%- for post in paginator.posts -%}
  <div class="col">
    <div class="card shadow-sm h-100">
      {% assign og_image_path = post.og_image | default: 's8a-thumbnail.webp' | prepend: "/assets/img/" %}
      {% include img-local.html class="card-img-top" src=og_image_path widths="192, 256, 320, 384, 448, 512, 576, 640, 704, 768, 832, 896, 960, 1024, 1080" sizes="100vw, 576px:47vw, 672px:41vw, 768px:47vw, 880px:41vw, 992px:49vw, 1096px:44vw, 1200px:32vw, 1300px:30vw, 1400px:32vw" default_width="576" %}
      <div class="card-body">
        <h2 class="card-title fs-5"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p class="card-subtitle mb-2 text-muted">{{ post.date | date_to_string }}</p>
        <p class="card-text">{{ post.og_desc }}</p>
      </div>
    </div>
  </div>
  {%- endfor -%}
</div>

{% if paginator.total_pages > 1 %}
<nav aria-label="Page navigation">
  <ul class="pagination pagination-sm justify-content-center">
    <li class="page-item {% unless paginator.previous_page %}disabled{% endunless %}">
      <a href="{% if paginator.previous_page %}{{ paginator.previous_page_path | relative_url }}{% else %}#{% endif%}" class="page-link" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <li class="page-item active" aria-current="page">
          <a href="#" class="page-link">{{ page }}</a>
        </li>
      {% elsif page == 1 %}
        <li class="page-item">
          <a href="/blog/" class="page-link">{{ page }}</a>
        </li>
      {% else %}
        <li class="page-item">
          <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}" class="page-link">{{ page }}</a>
        </li>
      {% endif %}
    {% endfor %}

    <li class="page-item {% unless paginator.next_page %}disabled{% endunless %}">
      <a href="{% if paginator.next_page %}{{ paginator.next_page_path | relative_url }}{% else %}#{% endif%}" class="page-link" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% endif %}
