<!doctype html>
<html
  x-data
  x-bind:class="$store.darkMode.on ? 'dark' : ''"
  lang="{{ page.lang | default: 'en' }}"
>
  <head>
    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/main.css' | relative_url }}">

    <script src="{{ '/assets/js/main.js' | relative_url }}" defer></script>
  </head>
  <body class="bg-white text-gray-900 dark:bg-gray-950 dark:text-gray-200 min-h-screen flex flex-col">
    <div id="skip-to-main">
      <a href="#main" class="absolute -top-full left-0 z-100 transition-[top] ease-out duration-200 focus:top-0 focus:ease-in px-4 py-2 rounded-br-md text-white bg-blue-600 dark:bg-blue-500">
        Skip to main content
      </a>
    </div>
    {% include header.html %}
    <main id="main" class="flex-grow container {{ page.main_class_max_width | default: layout.main_class_max_width | default: 'xl:max-w-5xl' }} mx-auto p-4 {{ page.main_class_extra | default: layout.main_class_extra | default: '' }} print:w-full print:max-w-none print:px-0">
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
