<!doctype html>
<html>
  <head>
    {%- include meta.html -%}

    <link rel="stylesheet" type="text/css" href="{{- site.url -}}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{- site.url -}}/assets/css/main.min.css">

    <title>{{ page.title }} – Samuel Ochoa</title>
  </head>
  <body>
    {%- include header.html -%}
    <main>
      <div class="container py-3">
        {{- content -}}
      </div>
    </main>
    {%- include footer.html -%}

    <script src="{{- site.url -}}/assets/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
