<!doctype html>
<html
  x-data
  x-bind:class="$store.darkMode.on ? 'dark' : ''"
  lang="{{ page.lang | default: 'en' }}"
>
  <head>
    {%- include meta.html -%}

    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/main.css' | absolute_url }}">

    <script src="{{ '/assets/js/bundle.js' | absolute_url }}" defer></script>
  </head>
  <body class="bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-200 min-h-screen flex flex-col">
    {%- include header.html -%}
    <main class="flex-grow {{ page.main_class | default: 'container lg:max-w-4xl mx-auto p-4' }}">
      {{- content -}}
    </main>
    {%- include footer.html -%}
  </body>
</html>
