---
layout: default
---

<h1 class="text-center">{{ page.title }}</h1>

<div class="row flex-md-row-reverse align-items-center g-3">
  {%- if page.image -%}
  <div class="col-md-6 mx-auto">
    <!-- TODO: Replace with resized images -->
    <img src="/assets/img/{{ page.image }}" alt="" class="img-fluid">
  </div>
  {%- endif -%}

  <div class="col-md-6 mx-auto">
    <p><small class="text-muted">Published date: {{ page.date | date_to_string }}</small></p>
    <p>{{ page.summary }}</p>
    <p><a href="{{ page.read-url }}" class="btn btn-primary">{{ page.read-text }}</a></p>
  </div>
</div>
