---
layout: default
---

<h1 class="text-center">{{ page.title }}</h1>

<div class="row flex-md-row-reverse align-items-center g-3">
  {%- if page.image -%}
    <div class="col-lg-6 mx-auto">
      {% assign image_path = page.image | prepend: "/assets/img/" %}
      {% include img-local.html class="img-fluid" src=image_path widths="192, 256, 320, 384, 448, 512, 576, 640, 704, 768, 832, 896, 960, 1024, 1080" sizes="100vw, 576px:94vw, 672px:81vw, 768px:94vw, 880px:82vw, 992px:49vw, 1096px:44vw, 1200px:48vw, 1300px:44vw, 1400px:48vw" default_size="1080" %}
    </div>
  {%- endif -%}

  <div class="col-lg-6 mx-auto">
    <p><small class="text-muted">Published date: {{ page.date | date_to_string }}</small></p>
    <p>{{ page.summary }}</p>
    <p><a href="{{ page.read_url }}" class="btn btn-primary">{{ page.read_text }}</a></p>
  </div>
</div>
