---
layout: default
---

<h1 class="text-center text-4xl font-bold mb-2">{{ page.title }}</h1>

{%- if page.image -%}
  {% assign image_path = page.image | prepend: "/assets/img/" %}
  {% include img-local.html class="w-full mb-2" src=image_path widths="192, 256, 320, 384, 448, 512, 576, 640, 704, 768, 832, 896, 960, 1024, 1080" sizes="100vw, 576px:94vw, 672px:81vw, 768px:94vw, 880px:82vw, 992px:49vw, 1096px:44vw, 1200px:48vw, 1300px:44vw, 1400px:48vw" default_size="1080" %}
{%- endif -%}

<div class="flex flex-col gap-2">
  <p><small class="text-sm text-gray-600 dark:text-gray-400">Published date: {{ page.date | date_to_string }}</small></p>
  <p>{{ page.summary }}</p>
  <p><a href="{{ page.read_url }}" class="px-2 py-1 rounded-md inline-block text-white bg-blue-600 hover:bg-blue-500 dark:bg-blue-500 dark:hover:bg-blue-400 transition-colors">{{ page.read_text }}</a></p>
</div>
