<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.min.css">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.og_desc}}">
    <meta property="og:image" content="{{ site.url }}/assets/img/{{ page.og_image }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta name="twitter:card" content="summary_large_image">
    <title>{{ page.title }} - Samuel Ochoa</title>
  </head>
  <body>
    {% include header.html %}
    <main>
      <section id="post">
        <h2>{{ page.title }}</h2>
        <p class="subtitle">{{ page.date | date_to_string }} - {{ page.category }}</p>
        {{ content }}
      </section>
    </main>
    {% include footer.html %}
  </body>
</html>